<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <node pkg="dgps_ros" type="dgps_ros_node" name="dgps" output="screen">
	<param name="server"  value="www.rtk2go.com"/>
	<param name="port"  value="2101"/>
        <param name="username"  value=""/>
        <param name="password"  value=""/>
        <param name="serialPort" value="/dev/ttyACM0"/>
    </node>
</launch>
